<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>动画期末</title>
    <%- include include/publicCss.ejs %>
</head>
<body>
<!--   This is Body-->
<a href="tree.html">tree</a>
<a href="slideshow .html">slideshow </a>
<a href="magic.html">magic</a>
<%- include include/publicJs.ejs%>
</body>
</html>
