<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>动画期末</title>
    <%- include include/publicCss.ejs %>
    <style type="text/less">
        @sizeStripe: 200px;
        @color1: rgb(174, 0, 0);
        @color2: #000000;
        @dur: 60s;
        body {
            display: flex;
            height: 100vh;
            overflow: hidden;
        }
        .spiderman {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }
        .spiderman-text {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 8rem;
            font-weight: 800;
            text-align: center;
            -webkit-text-stroke: 3px rgba(255,255,255,0.5);
            color: #00000000;
            /*倾斜45度
        重复线条*/
            background: repeating-linear-gradient(-45deg, @color1 25%, @color1 50%, @color2 50%, @color2 75%);
            background-size: @sizeStripe @sizeStripe;
            -webkit-background-clip: text;
            animation: backAn @dur linear infinite;
        }
        @keyframes backAn {
            0% {
                background-position: 0 0;
            }
            100% {
                background-position: calc(@sizeStripe * 25) 0;
            }
        }
    </style>
</head>
<body id="spiderman-app">
<%- include include/back.ejs %>
<div class="spiderman">
    <div class="spiderman-text">SPIDERMAN</div>
</div>
<%- include include/publicJs.ejs %>
<script>
</script>
</body>
